<div ng-controller="SongController">
    Songs
  <div ng-repeat="song in songs">
      <div style="margin-left: 20px;">
          Title: {{ song.title }} <br/>
          Genre: {{ song.genre }} <br/>
          Band: {{ song.band }} <br/>
          embedded: {{ song.embedded }} <br/>
          duration: {{ song.duration }} <br/>
          <!--verses: {{ song.verses }} <br/>-->
          <hr/>
          <iframe width="420" height="315"
                  src="{{ song.embedded + '?autoplay=1&controls=0&disablekb=1&modestbranding=1&rel=0&showinfo=0&iv_load_policy=3'}}" frameborder="0">
          </iframe><br/>
          Subtitle: {{ currentVerseSentence }} <br/>
          <table>
              <tr>
                  <td>
                      <span style="display: inline;"
                            ng-repeat="word in currentVerse.word_options_array">
                        <button ng-click="wordOptionsClick(word, currentVerse)" ng-disabled="currentVerse.buttonDisable">
                            {{word}}
                        </button>
                      </span>
                  </td>
              </tr>
          </table>
      </div>
      <span>
          <br>
      </span>

      <!-- -->
      <!--<div ng-repeat="verse in song.verses">-->
          <!--{{ verse.sentence }}-->

      <!--</div>-->

      <!-- -->
      <!--<table>-->
          <!--<tr>-->
              <!--<th>Sentence</th>-->
              <!--<th>Options</th>-->
              <!--<th>My Choive</th>-->
              <!--<th>Status</th>-->
          <!--</tr>-->
          <!--<tr ng-repeat="verse in song.verses">-->
              <!--<td>{{ verse.sentence }}</td>-->
              <!--<td>-->
                  <!--<table>-->
                      <!--<tr>-->
                          <!--<td>-->
                              <!--<span style="display: inline;"-->
                                    <!--ng-repeat="word in verse.word_options_array">-->
                                <!--<button ng-click="wordOptionsClick(word, verse)" ng-disabled="verse.buttonDisable">{{word}}</button>-->
                              <!--</span>-->
                          <!--</td>-->
                      <!--</tr>-->
                  <!--</table>-->

                  <!--&lt;!&ndash;{{ verse.word_options_array }}&ndash;&gt;-->
              <!--</td>-->
              <!--<td>{{ verse.myAnswer }}</td>-->
              <!--<td>{{ verse.statusAnswer }}</td>-->
          <!--</tr>-->
      <!--</table>-->
      <!-- -->

      <div>Respostas Corretas: {{corretAnswerCount}}</div>
      <div>Respostas Erradas: {{wrongAnswerCount}}</div>
      <div>Respostas não respondidas: {{ leftCount }}</div>

  </div>
</div>